.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(10, 25, 47, 0.85);
 -webkit-backdrop-filter: blur(10px); 
  backdrop-filter: blur(10px);
  z-index: 10;
  box-sizing: border-box;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.menuItems {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItems a {
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.menuItems a:hover {
  color: white;
}